#name-animation {
  width: 100%;
  position: relative;
  stroke: white;
  stroke-width: 10px;
  fill: transparent;
  stroke-dasharray: 1030;
  stroke-dashoffset: 1030;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  /* Stay on the last frame */
  animation-iteration-count: 1;
  /* Run only once */
  animation-timing-function: linear;
}

#github-svg {
  max-width: 70px;
  min-width: 40px;
  stroke: white;
  stroke-width: 5px;
  fill:transparent;
  stroke-dasharray: 2550;
  stroke-dashoffset: 2550;
  animation-name: draw, fill-github;
  animation-duration: 3s, 1s;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  /* Stay on the last frame */
  animation-iteration-count: 1;
  /* Run only once */
  animation-timing-function: linear;
}

#linkedin-svg {
  max-width: 70px;
  min-width: 40px;
  stroke: #0070BB;
  stroke-width: 5px;
  fill: transparent;
  stroke-dasharray: 3471;
  stroke-dashoffset: 3471;
  animation-name: draw, fill-linkedin;
  animation-duration: 3s, 1s;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  /* Stay on the last frame */
  animation-iteration-count: 1;
  /* Run only once */
  animation-timing-function: linear;
}

#facebook-svg {
  max-width: 70px;
  min-width: 40px;
  stroke: #4557b6;
  stroke-width: 2px;
  fill: transparent;
  stroke-dasharray: 554;
  stroke-dashoffset: 554;
  animation-name: draw, fill-facebook;
  animation-duration: 3s, 1s;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  /* Stay on the last frame */
  animation-iteration-count: 1;
  /* Run only once */
  animation-timing-function: linear;
}

#instagram-svg {
  max-width: 70px;
  min-width: 40px;
  stroke: #F24E2C;
  stroke-width: 5px;
  fill: transparent;
  stroke-dasharray: 3360;
  stroke-dashoffset: 3360;
  animation-name: draw, fill-instagram;
  animation-duration: 3s, 1s;
  animation-delay: 0s, 3s;
  animation-fill-mode: forwards;
  /* Stay on the last frame */
  animation-iteration-count: 1;
  /* Run only once */
  animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes appear {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes fill-github {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill-linkedin {
  from {
    fill: transparent;
  }
  to {
    fill: #0074B8;
  }
}

@keyframes fill-facebook {
  from {
    fill: transparent;
  }
  to {
    fill: #4260B4;
  }
}

@keyframes fill-instagram {
  from {
    fill: transparent;
  }
  to {
    fill: #E05E42;
  }
}

@keyframes FadeStroke {
  to {
    stroke-opacity: 0;
  }
}

.social-network-svg {
  transform: scale(1);
  transition-duration: 0.5s;
}

.social-network-svg:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}